<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)">
                    </app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-destino-viaje *ngFor="let item of all; let i = index" [destino]="item" [idx]="i+1"
            (onClicked)="elegido(item)" appEspiame>
        </app-destino-viaje>
    </div>
    <hr class="mb-5">
    <h5>Actividad</h5>
    <div class="row row-flex">
        <ul>
            <li *ngFor="let item of updates">{{ item }}</li>
        </ul>
    </div>
</div>